agm-map {
    width: 100%;
    height: 100%;
}

.place-card {
    height: auto;
    width: 300px;
}

.place-card > .card-image {
    max-height: 100px;
}

/*
.place-card > mat-card-content {
  max-height: 155px;
} */

.place-card > mat-card-actions {
    height: 45px;
}
