<!-- - - - - - - - - - - - - - Wrapper - - - - - - - - - - - - - - - - -->
<div id="wrapper" class="wrapper-container box-type page-full-height">
    <!-- - - - - - - - - - - - - Mobile Menu - - - - - - - - - - - - - - -->
    <nav id="mobile-advanced" class="mobile-advanced"></nav>

    <!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->
    <div id="content" class="page-404-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h1 class="title">404</h1>
                    <p class="text-size-big">We're sorry, but we can't find the page you were looking for.</p>
                    <p>It's probably some thing we've done wrong but now we know about it and
                        we'll <br> try to fix it. Go <a href="#" class="link-text">Home</a> or try to search:</p>
                    <form class="search-line">
                        <input type="text" placeholder="Search">
                        <button class="btn with-text"><i class="licon-magnifier"></i>Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - -->

</div><!-- - - - - - - - - - - - end Wrapper - - - - - - - - - - - - - - -->
