@charset "UTF-8";

@font-face {
  font-family: "untitled-font-2";
  src:url("fonts/untitled-font-2.eot");
  src:url("fonts/untitled-font-2.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-2.woff") format("woff"),
    url("fonts/untitled-font-2.ttf") format("truetype"),
    url("fonts/untitled-font-2.svg#untitled-font-2") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-2" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="cicon-"]:before,
[class*="cicon-"]:before {
  font-family: "untitled-font-2" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cicon-air-conditioner:before {
  content: "\61";
}
.cicon-alarm-clock:before {
  content: "\62";
}
.cicon-anchor:before {
  content: "\63";
}
.cicon-armchair:before {
  content: "\64";
}
.cicon-atm:before {
  content: "\65";
}
.cicon-ax:before {
  content: "\66";
}
.cicon-backpack:before {
  content: "\67";
}
.cicon-bag:before {
  content: "\68";
}
.cicon-baggage-trolley:before {
  content: "\69";
}
.cicon-balloon:before {
  content: "\6a";
}
.cicon-bathtub:before {
  content: "\6b";
}
.cicon-bed:before {
  content: "\6c";
}
.cicon-bed-plus:before {
  content: "\6d";
}
.cicon-beds:before {
  content: "\6e";
}
.cicon-beer:before {
  content: "\6f";
}
.cicon-bell:before {
  content: "\70";
}
.cicon-bike:before {
  content: "\71";
}
.cicon-bonfire:before {
  content: "\72";
}
.cicon-booking:before {
  content: "\73";
}
.cicon-boots:before {
  content: "\74";
}
.cicon-boots2:before {
  content: "\75";
}
.cicon-bottle-glasses:before {
  content: "\76";
}
.cicon-bottles:before {
  content: "\77";
}
.cicon-building:before {
  content: "\78";
}
.cicon-building2:before {
  content: "\79";
}
.cicon-bus:before {
  content: "\7a";
}
.cicon-champagne:before {
  content: "\41";
}
.cicon-chaise-longue:before {
  content: "\42";
}
.cicon-castle:before {
  content: "\43";
}
.cicon-cards:before {
  content: "\44";
}
.cicon-car-wash:before {
  content: "\45";
}
.cicon-car:before {
  content: "\46";
}
.cicon-cap:before {
  content: "\47";
}
.cicon-canoe:before {
  content: "\48";
}
.cicon-camping-knife:before {
  content: "\49";
}
.cicon-camera:before {
  content: "\4a";
}
.cicon-calendar:before {
  content: "\4b";
}
.cicon-cake:before {
  content: "\4c";
}
.cicon-cabin:before {
  content: "\4d";
}
.cicon-church:before {
  content: "\4e";
}
.cicon-destination:before {
  content: "\4f";
}
.cicon-disabled:before {
  content: "\50";
}
.cicon-church2:before {
  content: "\51";
}
.cicon-church3:before {
  content: "\52";
}
.cicon-dish:before {
  content: "\53";
}
.cicon-dish2:before {
  content: "\54";
}
.cicon-clipboard:before {
  content: "\55";
}
.cicon-clock:before {
  content: "\56";
}
.cicon-dislike:before {
  content: "\57";
}
.cicon-dislike2:before {
  content: "\58";
}
.cicon-cocktail:before {
  content: "\59";
}
.cicon-cocktail2:before {
  content: "\5a";
}
.cicon-do-not-disturb:before {
  content: "\30";
}
.cicon-coffee-to-go:before {
  content: "\31";
}
.cicon-dog:before {
  content: "\32";
}
.cicon-coliseum:before {
  content: "\33";
}
.cicon-dolphin:before {
  content: "\34";
}
.cicon-double-bed:before {
  content: "\35";
}
.cicon-column:before {
  content: "\36";
}
.cicon-compass:before {
  content: "\37";
}
.cicon-drink:before {
  content: "\38";
}
.cicon-eat:before {
  content: "\39";
}
.cicon-cup:before {
  content: "\21";
}
.cicon-desktop:before {
  content: "\22";
}
.cicon-eye:before {
  content: "\23";
}
.cicon-globe:before {
  content: "\24";
}
.cicon-ice-cream:before {
  content: "\25";
}
.cicon-glasses:before {
  content: "\26";
}
.cicon-hotel-sign:before {
  content: "\27";
}
.cicon-hotel:before {
  content: "\28";
}
.cicon-food-to-go:before {
  content: "\29";
}
.cicon-flippers:before {
  content: "\2a";
}
.cicon-hostel:before {
  content: "\2b";
}
.cicon-home-on-the-water:before {
  content: "\2c";
}
.cicon-flip-flops:before {
  content: "\2d";
}
.cicon-flashlight:before {
  content: "\2e";
}
.cicon-hat-glasses:before {
  content: "\2f";
}
.cicon-hanger:before {
  content: "\3a";
}
.cicon-flag:before {
  content: "\3b";
}
.cicon-fish:before {
  content: "\3c";
}
.cicon-handwheel:before {
  content: "\3d";
}
.cicon-hand:before {
  content: "\3e";
}
.cicon-fireplace:before {
  content: "\3f";
}
.cicon-filling-station:before {
  content: "\40";
}
.cicon-hair-dryer:before {
  content: "\5b";
}
.cicon-gym:before {
  content: "\5d";
}
.cicon-ferris-wheel:before {
  content: "\5e";
}
.cicon-fast-food:before {
  content: "\5f";
}
.cicon-grill:before {
  content: "\60";
}
.cicon-globe2:before {
  content: "\7b";
}
.cicon-fan:before {
  content: "\7c";
}
.cicon-iceberg:before {
  content: "\7d";
}
.cicon-location2:before {
  content: "\7e";
}
.cicon-magnifier:before {
  content: "\5c";
}
.cicon-info:before {
  content: "\e000";
}
.cicon-iron:before {
  content: "\e001";
}
.cicon-megaphone:before {
  content: "\e002";
}
.cicon-message:before {
  content: "\e003";
}
.cicon-island:before {
  content: "\e004";
}
.cicon-key:before {
  content: "\e005";
}
.cicon-mobile:before {
  content: "\e006";
}
.cicon-mobile2:before {
  content: "\e007";
}
.cicon-lamp:before {
  content: "\e008";
}
.cicon-life-vest:before {
  content: "\e009";
}
.cicon-money-exchange:before {
  content: "\e00a";
}
.cicon-moon:before {
  content: "\e00b";
}
.cicon-lifebuoy:before {
  content: "\e00c";
}
.cicon-lift:before {
  content: "\e00d";
}
.cicon-mosque:before {
  content: "\e00e";
}
.cicon-mosque2:before {
  content: "\e00f";
}
.cicon-lift2:before {
  content: "\e010";
}
.cicon-like:before {
  content: "\e011";
}
.cicon-mountains-cloud:before {
  content: "\e012";
}
.cicon-mountains-sun:before {
  content: "\e013";
}
.cicon-like2:before {
  content: "\e014";
}
.cicon-location:before {
  content: "\e015";
}
.cicon-music:before {
  content: "\e016";
}
.cicon-pictures:before {
  content: "\e017";
}
.cicon-sailing-ship:before {
  content: "\e018";
}
.cicon-safe:before {
  content: "\e019";
}
.cicon-picnic:before {
  content: "\e01a";
}
.cicon-phone:before {
  content: "\e01b";
}
.cicon-road-sign2:before {
  content: "\e01c";
}
.cicon-road-sign:before {
  content: "\e01d";
}
.cicon-penguin:before {
  content: "\e01e";
}
.cicon-paw:before {
  content: "\e01f";
}
.cicon-road-cone:before {
  content: "\e020";
}
.cicon-receptionist:before {
  content: "\e021";
}
.cicon-passanger:before {
  content: "\e022";
}
.cicon-pass:before {
  content: "\e023";
}
.cicon-rain:before {
  content: "\e024";
}
.cicon-pyramids:before {
  content: "\e025";
}
.cicon-parking2:before {
  content: "\e026";
}
.cicon-parking:before {
  content: "\e027";
}
.cicon-power-socket:before {
  content: "\e028";
}
.cicon-pool:before {
  content: "\e029";
}
.cicon-paper-pencil:before {
  content: "\e02a";
}
.cicon-palms:before {
  content: "\e02b";
}
.cicon-pointer:before {
  content: "\e02c";
}
.cicon-plug:before {
  content: "\e02d";
}
.cicon-no-smoking:before {
  content: "\e02e";
}
.cicon-no-photo:before {
  content: "\e02f";
}
.cicon-plane:before {
  content: "\e030";
}
.cicon-satellite-antenna:before {
  content: "\e031";
}
.cicon-sos:before {
  content: "\e032";
}
.cicon-starfish:before {
  content: "\e033";
}
.cicon-ship:before {
  content: "\e034";
}
.cicon-shop:before {
  content: "\e035";
}
.cicon-stela:before {
  content: "\e036";
}
.cicon-storm:before {
  content: "\e037";
}
.cicon-shopping-bag:before {
  content: "\e038";
}
.cicon-shorts:before {
  content: "\e039";
}
.cicon-suitcase:before {
  content: "\e03a";
}
.cicon-suitcase-plus:before {
  content: "\e03b";
}
.cicon-shovel:before {
  content: "\e03c";
}
.cicon-shower:before {
  content: "\e03d";
}
.cicon-sun:before {
  content: "\e03e";
}
.cicon-sun2:before {
  content: "\e03f";
}
.cicon-signal:before {
  content: "\e040";
}
.cicon-ski:before {
  content: "\e041";
}
.cicon-sunscreen:before {
  content: "\e042";
}
.cicon-sunset:before {
  content: "\e043";
}
.cicon-snorkeling:before {
  content: "\e044";
}
.cicon-snowboard:before {
  content: "\e045";
}
.cicon-support:before {
  content: "\e046";
}
.cicon-surfboard:before {
  content: "\e047";
}
.cicon-snowflake:before {
  content: "\e048";
}
.cicon-soap:before {
  content: "\e049";
}
.cicon-swimming:before {
  content: "\e04a";
}
.cicon-trailer:before {
  content: "\e04b";
}
.cicon-waiter:before {
  content: "\e04c";
}
.cicon-volcano:before {
  content: "\e04d";
}
.cicon-traffic-light:before {
  content: "\e04e";
}
.cicon-toothpaste-brush:before {
  content: "\e04f";
}
.cicon-video-camera:before {
  content: "\e050";
}
.cicon-tv-tower:before {
  content: "\e051";
}
.cicon-tickets:before {
  content: "\e052";
}
.cicon-thermos:before {
  content: "\e053";
}
.cicon-tv:before {
  content: "\e054";
}
.cicon-turtle:before {
  content: "\e055";
}
.cicon-thermometer:before {
  content: "\e056";
}
.cicon-tent:before {
  content: "\e057";
}
.cicon-tunnel:before {
  content: "\e058";
}
.cicon-trees2:before {
  content: "\e059";
}
.cicon-tennis:before {
  content: "\e05a";
}
.cicon-temple:before {
  content: "\e05b";
}
.cicon-trees:before {
  content: "\e05c";
}
.cicon-traveler2:before {
  content: "\e05d";
}
.cicon-taxi:before {
  content: "\e05e";
}
.cicon-tag:before {
  content: "\e05f";
}
.cicon-traveler:before {
  content: "\e060";
}
.cicon-wi-fi:before {
  content: "\e061";
}
.cicon-water-lily:before {
  content: "\e062";
}
.cicon-tram:before {
  content: "\e063";
}
.cicon-table-chairs-umbrella:before {
  content: "\e064";
}
.cicon-table:before {
  content: "\e065";
}
.cicon-train:before {
  content: "\e066";
}
.cicon-washer:before {
  content: "\e067";
}
