/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/css/snazzy-info-window.css";

.sticky-background {
    background-color: transparent;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 300px;
}